# Dependencies
/node_modules

# Environment variables
.env

# SvelteKit build directory
.svelte-kit

# Local .DS_Store files on macOS
.DS_Store

# Log files
*.log

# npm debug logs
npm-debug.log*

# Yarn lock file
yarn.lock

# pnpm lock file
pnpm-lock.yaml

# IDE files
.vscode/
.idea/

# Build output
/build
/dist

# Test coverage
/coverage

# Other temporary files
*.tmp
*.bak